/*CSS writtens in rules 
Each rule consists of a selector and a declaration part. 
For example 
H1 is a selector because it select all H1 elements
Which menas all H1 elements will be formatted  with the code we will written in the declaration block.
*/

/*If some elements share common attributes comine them in one group*/

/*We can also define global rules like for body tag in which all elements which not difnes rules will comes in this.*/


/* "*" we use astreak to set rule on all over thae elements in the web page even there rules are already set\ */

* {

    box-sizing: border-box;
}

body {
    font-family: 'Thasadith' ;
    font-size: 18px;
    line-height: 1.8;
    word-break: break-all;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1,
h2 {
    color: rgba(31, 10, 98, 0.75);
    /*    font-family: Arial;
        Removed this because we using same font family for entire webpage so we decalre it win bpdy tag*/
}

h1 {

    font-size: 40px;
}

h2 {

    font-size: 25px;
}


.main-text {
    text-align: justify;
}

/*We can use id only once so be sure to use classes only*/
.author-text {
    font-size: 22px;
    color: #167bba;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    
}

/*margin-left: auto;
    margin-right: auto;
    margin-top: 20px;*/
.containse {
    width: 1140px;
    /*Top Right Bottom Left*/
    margin: 20px auto 0px auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding: 30px;
    position: relative;
}

.other-post {
    width: 25%;
    float: left;
}

.author-box {
    padding: 20px;
    border-top: 1px solid #D9D9D9;

}

.others {
    margin-bottom: 40px;
}

/*If we wan tot change some elements css only for a particular div or selector*/

.author-box img {
    height: 100px;
    width: 100px;
    /*For make a image circle*/
    border-radius: 50%;
    float: left;
}
.blog-post img{
    height: 150px;
    width: auto;
    
}
.date{
    position: absolute;
    top: 30px;
    right: 30px;
}
