/*--------------------------------------------------------------------------------------*/
/* BASIC SETUP*/
/*--------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}

/*--------------------------------------------------------------------------------------*/
/* RESUABLE COMPONENTS*/
/*--------------------------------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
    /*It will take 0 on top and bottom  and auto will be taken by right and left side*/
}

section {
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*--------------------------------------------------------------------------------------*/
/* HEADINGS*/
/*--------------------------------------------------------------------------------------*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

/*It Will Appear Afte the H2 Heading*/
h2:after {
    display: block;
    height: 2px;
    background-color: #cf6d17;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}


/*------------------------------------------------------------------------------------  --*/
/* PARAGRAPH*/
/*--------------------------------------------------------------------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;  
    text-align: center  
}

.box p{
    line-height: 145%;
    font-size: 90%; 
}

/*-----------ICONS------------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

/*------------------------------------------------------------------------------------  --*/
/* BUTTONS*/
/*--------------------------------------------------------------------------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
}

.btn-full:link,
.btn-full:visited {
    color: #fff;
    background: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:active,
.btn:hover {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #FFF;
}

/*--------------------------------------------------------------------------------------*/
/* HEADER*/
/*--------------------------------------------------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 170px;
    width: 170px;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cf6d17;
}

/*--------------------------------------------------------------------------------------*/
/* FEATURES*/
/*--------------------------------------------------------------------------------------*/
.section-features .long-copy{
    margin-bottom: 30px;
}

/*--------------------------------------------------------------------------------------*/
/* MEALS*/
/*--------------------------------------------------------------------------------------*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s ;
}
.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.15);
}
